# Black - Python code formatter
[tool.black]
line-length = 120
target-version = ['py311', 'py312']
extend-exclude = '''
/(
  \.git
  | \.venv
  | venv
  | build
  | dist
  | __pycache__
)/
'''

# isort - import sorter
[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = true
